.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lucida Grande', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lucida Grande', sans-serif;
}
h1 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  font-size: 1.9rem;
  line-height: 1.4;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.top-content-container {
  border: 1px solid purple;
  color: #ffffff;
  position: relative;
  height: 500px;
}
.top-content-container img {
  height: 500px;
  width: 100%;
  position: absolute;
}
.top-content-container .header-container {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(6, 58, 101, 0.9), rgba(0, 0, 0, 0));
  color: #ffffff;
  position: relative;
}
.top-content-container .header-container .header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
}
.top-content-container .header-container .header h1 {
  font-family: "Bitstream Charter";
  height: 35px;
}
.top-content-container .header-container .header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}
.top-content-container .header-container .header .navigation a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  font-size: 1.7rem;
  text-decoration: none;
  color: #ffffff;
}
.top-content-container .header-container .header .navigation a:hover {
  color: #cccccc;
}
.top-content-container .top-content {
  position: relative;
  height: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.top-content-container .top-content .top-text {
  padding-top: 80px;
}
.top-content-container .top-content .top-text p {
  width: 300px;
  padding: 0 0 10px 20px;
}
.top-content-container .top-content .top-text .slogan {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 20px;
}
.top-content-container .top-content .sign-up-button {
  height: 50px;
  width: 140px;
  padding-top: 10px;
  background: #EE8B4A;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 300px;
}
.mission-container {
  background: #fff8f3;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mission-container .mission {
  height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mission-container .mission .mission-one {
  font-size: 2.7rem;
  font-weight: bold;
  color: #717070;
}
.mission-container .mission .mission-two {
  color: #454344;
}
.mission-container .line {
  border-top: 1px solid #979797;
  width: 75%;
  margin: 0 auto 0 auto;
}
.middle-content-container {
  height: 1600px;
  background: #fff8f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle-content-container h1 {
  background: linear-gradient(rgba(6, 58, 101, 0.9), rgba(0, 0, 0, 0));
  color: #ffffff;
  font-weight: bold;
  font-size: 3.7rem;
  width: 100%;
  height: 65px;
  padding: 12px 0 0 10px;
}
.middle-content-container img {
  height: 320px;
  width: 100%;
  position: absolute;
}
.middle-content-container p {
  background: #406197;
  color: #ffffff;
  font-size: 2.3rem;
  height: 160px;
  text-align: center;
  padding: 30px 0 0 0;
}
.middle-content-container .text {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.middle-content-container .divider {
  height: 100px;
}
.middle-content-container .divider .line {
  border-bottom: 1px solid #979797;
  width: 85%;
  margin: 0 auto 0 auto;
  padding: 50px 0 0 0;
}
.middle-content-container .bottom-space {
  height: 40px;
}
.bottom-divider {
  background: #ffffff;
  height: 60px;
}
.bottom-divider .line {
  height: 25px;
  border-bottom: 1px solid #979797;
  width: 85%;
  margin: 0 auto 0 auto;
}
.reviews-container {
  background: #fff8f3;
}
.reviews-container h1 {
  color: #454344;
  font-weight: bold;
  padding: 50px 0 50px 20px;
}
.reviews-container section {
  border-left: 4px solid #EE8B4A;
  margin: 0 auto 0 auto;
  height: 380px;
  width: 90%;
}
.reviews-container section .intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 10px 30px;
}
.reviews-container section .intro img {
  border-radius: 90px;
  width: 40%;
  height: 40%;
}
.reviews-container section .intro .name-top {
  border-bottom: 1px solid #717070;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90px;
  width: 60%;
}
.reviews-container section .intro .name-top h3 {
  font-size: 2.6rem;
  padding-left: 35px;
}
.reviews-container section .intro .name-top p {
  color: #717070;
  font-weight: lighter;
  padding-left: 35px;
}
.reviews-container section .review-bottom {
  padding: 15px 0 0 20px;
  color: #406197;
  height: 150px;
}
.reviews-container .julia-review {
  border: none;
}
.reviews-container .julia-review .intro {
  border-left: 4px solid #EE8B4A;
}
.reviews-container .julia-review .review-bottom {
  border-left: 4px solid #EE8B4A;
}
