// about page less 

// about top content container 
.about-top-content-container {
    // border: @border-size purple; 
    color: @ui-white; 
    position: relative;
    height: 500px; 

    @media @desktop {
        height: 900px; 
    }
    
    img {
        // border: @border-size orange; 
        height: 500px;
        width: 100%;
        position: absolute; 

        @media @desktop {
            height: 900px; 
        }
        
    }

    .about-header-container {
        // border: @border-size rebeccapurple; 
        height: 70px; 
        .column(); 
        justify-content: center;
        background:  linear-gradient(rgba(6, 58, 101, 0.9), rgba(0, 0, 0, 0.0));
        color: @ui-white;
        position: relative;
        
        .about-header {
            // border: @border-size red;
            height: 40px; 
            .row(); 
            justify-content: space-between; 
            margin-left: auto; 
            margin-right: auto; 
            width: 470px; 

            @media @desktop {
                height: 50px;
                width: 95%; 
                padding-top: 10px; 
            }
    
        
            h1 { 
                // border: @border-size blue;
                font-family: @charter-font; 
                height: 35px;
                
                a {
                    text-decoration: none; 
                    color: @ui-white; 
                }

                a:hover {
                    text-decoration: underline; 
                }

                @media @desktop {
                    font-size: 3.7rem; 
                }
            }
            
            .navigation {
                // border: @border-size green; 
                .row(); 
                justify-content: space-around; 
                width: 70%; 

                @media @desktop {
                    width: 40%; 
                }
               
                a {
                    // border: @border-size orange; 
                    .row(); 
                    justify-content: space-around; 
                    padding-top: 10px; 
                    font-size: 1.7rem; 
                    text-decoration: none; 
                    color: @ui-white;

                    @media @desktop {
                        font-size: 2.5rem; 
                        padding-top: 0;
                    }
                }
        
                a:hover {
                    color: darken(@ui-white, 20%); 
                }
            }
        }
    }

    .about-top-content {
        // border: @border-size red; 
        // color: @dark-orange; 
        text-align: center; 
        position: absolute;
        height: 70%; 

        .top-text {
            // border: @border-size red;
            height: 100%;
            .column(); 
            justify-content: space-evenly; 
        }

        p {
            width: 80%; 
            margin: 0 auto 0 auto; 
        }

        .motto {
            border: 4px solid @dark-orange; 
            font-size: 2.7rem;
            font-weight: bold;
            font-family: @charter-font; 
            // text-shadow: 0 1px @ui-orange;   
            padding: 20px; 
        }

        .meet-us {
            // font-family: @charter-font; 
            font-size: 4rem; 
            color: @ui-white; 
            font-weight: normal; 
            border: none;
        }

    }
}


// about introductions container 

.introduction-container {
    border: @border-size red; 
    background: @ui-off-white; 
}