// footer less 

footer {
    border: @border-size red; 
    .row(); 
    justify-content: space-between; 
    padding: 0 15px 5px 15px; 

    .legal-stuff {
        border: @border-size red; 
        text-align: right; 
    }
}