// reviews container less 

.review-container {
    // border: @border-size red; 
    background: @ui-off-white; 

    @media @desktop {
        .column(); 
        height: auto; 
        padding-bottom: 60px; 

        .reviews {
            .row(); 
            justify-content: space-evenly;
        }
    }

    h1 {
        // border: @border-size blue; 
        color: @ui-dark-grey; 
        font-weight: bold; 
        padding: 50px 0 50px 20px; 

        @media @desktop {
            font-size: 3.8rem; 
            padding: 50px 0 50px 50px; 
        }
    }

    section {
        border-left: 4px solid @ui-orange; 
        margin: 0 auto 0 auto; 
        height: 380px; 
        width: 90%; 

        @media @tablet {
            height: auto;
            width: 80%;
        }

        @media @desktop {
            border: none; 
            width: 27.5%;   
            margin: 20px 0 20px 0; 
        }

        .intro {
            // border: @border-size gold; 
            .row(); 
            justify-content: space-between;
            padding: 0 0 10px 30px; 

            @media @desktop { 
                width: 100%; 
                padding: 0; 
            }

            img {
                // border: @border-size green; 
                border-radius: 90px; 
                width: 40%; 
                height: 40%; 

                @media @desktop { 
                    border-radius: 0;  
                }
            }

            .name-top {
                border-bottom: @border-size @ui-middle-grey; 
                .column(); 
                justify-content: space-evenly; 
                height: 90px;  
                width: 60%; 

                @media @tablet { 
                    margin-top: 30px; 
                }

                @media @desktop {
                    // border: @border-size red; 
                    margin-top: 0;
                    padding-top: 10px;  
                    height: 50%; 
                }
                
                h3 {
                    // border: @border-size green; 
                    font-size: 2.6rem; 
                    padding-left: 35px; 

                    @media @desktop {
                        margin-bottom: 10px; 
                    }
                }

                p {
                    // border: @border-size blue; 
                    color: @ui-middle-grey; 
                    font-weight: lighter; 
                    padding-left: 35px;

                    @media @desktop {
                        padding-bottom: 10px; 
                    }
                }
            }
        }

        .review-bottom {
            // border: @border-size green;
            padding: 15px 0 0 20px; 
            color: @ui-light-blue;  
            height: 150px; 

            @media @tablet {
                height: 130px; 

                p {
                    br {
                        display: none;
                    }
                }

            }

            @media @desktop {
                padding: 20px 0 0 0;
                height: auto; 

                p {
                    br {
                        display: none;
                    }

                    word-spacing: 1.5px; 
                }
            }
        }

    }

    .julia-review {
        border: none; 

        .intro {
            border-left: 4px solid @ui-orange; 
            @media @tablet {
            
            }

            @media @desktop {
                border: none; 
            }
        }

        .review-bottom {
            border-left: 4px solid @ui-orange;
            
            @media @tablet {
            
            }

            @media @desktop {
                border: none; 
            }
        }
    }

}