// header and top-content less 

.top-content-container {
    // border: @border-size purple; 
    color: @ui-white; 
    position: relative;
    height: 500px; 

    @media @tablet {
        height: 700px;
    }

    @media @desktop {
        height: 900px; 
    }
    
    img {
        // border: @border-size orange; 
        height: 500px;
        width: 100%;
        position: absolute; 
        object-fit: cover; 

        @media @tablet {
            height: 700px; 
        }

        @media @desktop {
            height: 900px; 
        }
        
    }

    // header content 
    .header-container {
        // border: @border-size rebeccapurple; 
        height: 70px; 
        .column(); 
        justify-content: center;
        background:  linear-gradient(rgba(6, 58, 101, 0.9), rgba(0, 0, 0, 0.0));
        color: @ui-white;
        position: relative;
        
        .header {
            // border: @border-size red;
            height: 40px; 
            .row(); 
            justify-content: space-between; 
            margin-left: auto; 
            margin-right: auto; 
            width: 470px; 

            @media @tablet {
                width: 90%; 
            }

            @media @desktop {
                height: 50px;
                width: 95%; 
                padding-top: 10px; 
            }
    
        
            h1 { 
                // border: @border-size blue;
                font-family: @charter-font; 
                height: 35px;

                @media @desktop {
                    font-size: 3.7rem; 
                }
            }
            
            .navigation {
                // border: @border-size green; 
                .row(); 
                justify-content: space-around;
                width: 70%; 

                @media @tablet {
                    width: 55%;
                }

                @media @desktop {
                    width: 40%; 
                }
               
                a {
                    // border: @border-size orange; 
                    .row(); 
                    justify-content: space-around; 
                    padding-top: 10px; 
                    font-size: 1.7rem; 
                    text-decoration: none; 
                    color: @ui-white;

                    @media @tablet {
                        font-size: 2rem;
                    }

                    @media @desktop {
                        font-size: 2.5rem; 
                        padding-top: 0;
                    }
                }
        
                a:hover {
                    color: darken(@ui-white, 20%); 
                }
            }
        }
    }
    
    // top content 
    .top-content {
        // border: @border-size red; 
        position: relative;
        height: 400px; 
        text-align: left;
        .column(); 
        justify-content: space-evenly;

        @media @tablet {
            height: 650px;
        }
        
        @media @desktop {
            height: 865px; 
        }

        .top-text {
            // border: @border-size blue; 
            padding-top: 80px; 

            @media @desktop {
                padding-top: 0px; 
                height: 450px; 
                .column(); 
                justify-content: flex-end; 
            }

            p {
                // border: @border-size red; 
                width: 300px; 
                padding: 0 0 10px 20px;

                @media @tablet {
                    font-size: 2.3rem;
                }

                @media @desktop {
                    width: 30%; 
                    padding: 10px 0 0 50px; 
                    font-size: 2.5rem; 

                    br {
                        display: none; 
                    }
                }
            }
    
            .slogan { 
                font-size: 3rem; 
                font-weight: bold; 
                padding-top: 20px; 

                @media @tablet {
                    font-size: 4rem;
                }
                
                @media @desktop {
                    font-size: 5rem; 
                }
            }
        
        }
       
        .sign-up-button {
            //border: @border-size blue; 

            // .buttons-dimensions(@bHeight, @bWidth, @topPadding)
            .buttons-dimensions(50px, 140px, 10px);
    
            // .buttons-color(@bgColor, @textColor, @bRadius)
            .buttons-color(@ui-orange, @ui-white, 10px);

            text-align: center; 
            font-size: 2.5rem; 
            margin-left: 60%; 

            @media @tablet {
                .buttons-dimensions(60px, 200px, 15px);

                margin-left: 65%; 
            }

            @media @desktop {
                .buttons-dimensions(70px, 250px, 17px);

                font-size: 3rem; 
                margin-left: 60%; 
                border-radius: 15px; 
            }

            a {
                text-decoration: none; 
                color: @ui-white; 
            }

            a:hover {
                color: darken(@ui-white, 50%); 
            }

        }

    }

}

